/* demo page styles */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #313131;
}
img{
    width: 300px;
    height: 300px;
}
@keyframes move{
    0%{transform: rotateX(0deg) rotateY(0deg)}
    100%{transform: rotateX(360deg) rotateY(360deg)}
}
h2{
    text-shadow: 5px 5px 5px #FF0000;
}
.title{
    position: fixed;
    left: 20px;
    top: 300px;
    width:100px;
    height:30px;
    border-radius: 10px;
    background: brown ;
    transition:width 2s;
    overflow: hidden;
}
.title:hover{
    height: 200px;
}
.title p{
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.title p img{
    width: 25px;
    height: 25px;
}
.title .bbq{
    position: relative;				
    line-height: 200px；
}
.title .bbq img{
    position: absolute;
    left: -37px;
    top: 70px;
    width: 100px;
    height: 100px;
}

.box{				
    width:300px;
    height:300px;
    position:relative;
    margin:auto;
    margin-top:240px;
    transform-style:preserve-3d;
    transform:rotateX(-10deg);
    animation: move 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.box:hover{
    animation-play-state: paused
}
.box>div{
    width:300px;
    height:300px;
    position: absolute;
    left:0;
    top:0;	
}

/* 导航样式 */
.example {
    position:relative;
    background:#313131;
    width:100%;
    /* height:470px; */
    /* border:1px #000 solid; */
    margin:0 auto;
    padding:15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

/* main menu styles */
.menuholder {
    float:left;
    font:normal bold 11px/35px verdana, sans-serif;
    overflow:hidden;
    position:relative;
}
.menuholder .shadow {
    -moz-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    -o-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    background:#888;
    box-shadow:0 0 20px rgba(0, 0, 0, 1);
    height:10px;
    left:5%;
    position:absolute;
    top:-9px;
    width:90%;
    z-index:100;
}
.menuholder .back {
    -moz-transition-duration:.4s;
    -o-transition-duration:.4s;
    -webkit-transition-duration:.4s;
    background-color:rgba(0, 0, 0, 0.5);
    height:0;
    width:100%;
}
.menuholder:hover div.back {
    height:200px;
}
ul.menu {
        width: 100%;
        display:block;
        float:left;
        list-style:none;
        margin:0 200px;
        padding:0 125px;
        position:relative;
}
@media screen and (min-width:1200px){
    ul.menu {
        width: 100%;
        display:block;
        float:left;
        list-style:none;
        margin:0 330px;
        padding:0 125px;
        position:relative;
    }
}
ul.menu li {
    float:left;
    margin:0 20px 0 0;
}
ul.menu li.fys{
    position: relative;
}
ul.menu li.fys:hover a{
    display: block;
}
ul.menu li .play{
    position: absolute;
    top: 70px;
    background: #f00 !important;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    width: 350px;
    display: none;
}
ul.menu li .playtwo{
    position: absolute;
    top: 70px;
    right: 0px;
    background: #f00 !important;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    width: 350px;
    display: none;
}
ul.menu li > a {
    -moz-border-radius:0 0 10px 10px;
    -moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
    -moz-transition:all 0.2s ease-in-out;
    -o-border-radius:0 0 10px 10px;
    -o-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
    -o-transition:all 0.2s ease-in-out;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
    -webkit-transition:all 0.2s ease-in-out;
    border-radius:0 0 10px 10px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
    color:#eee;
    display:block;
    padding:0 10px;
    text-decoration:none;
    transition:all 0.2s ease-in-out;
}
ul.menu li a.red {
    background:#a00;
}
ul.menu li a.orange {
    background:#da0;
}
ul.menu li a.yellow {
    background:#aa0;
}
ul.menu li a.green {
    background:#060;
}
ul.menu li a.blue {
    background:#00a;
}
ul.menu li a.violet {
    background:#682bc2;
}
.menu li div.subs {
    left:0;
    overflow:hidden;
    position:absolute;
    top:35px;
    left: -200px;
    width:500px;
}
.menu li div.subs dl {
    -moz-transition-duration:.2s;
    -o-transition-duration:.2s;
    -webkit-transition-duration:.2s;
    float:left;
    margin: 0 130px 0 0;
    overflow:hidden;
    padding:40px 0 5% 2%;
    width: 0;
}
.menu dt {
    color:#fc0;
    font-family:arial, sans-serif;
    font-size:12px;
    font-weight:700;
    height:20px;
    line-height:20px;
    margin:0;
    padding:0 0 0 10px;
    white-space:nowrap;
}
.menu dd {
    margin:0;
    padding:0;
    text-align:left;
}
.menu dd a {
    background:transparent;
    color:#fff;
    font-size:12px;
    height:20px;
    line-height:20px;
    padding:0 0 0 10px;
    text-align:left;
    white-space:nowrap;
    width:80px;
}
.menu dd a:hover {
    color:#fc0;
}
.menu li:hover div.subs dl {
    -moz-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    -webkit-transition-delay:0.2s;
    margin-right:2%;
    width:21%;
}
ul.menu li:hover > a,ul.menu li > a:hover {
    background:#aaa;
    color:#fff;
    padding:10px 10px 0;
}
ul.menu li a.red:hover,ul.menu li:hover a.red {
    background:#c00;
}
ul.menu li a.orange:hover,ul.menu li:hover a.orange {
    background:#fc0;
}
ul.menu li a.yellow:hover,ul.menu li:hover a.yellow {
    background:#cc0;
}
ul.menu li a.green:hover,ul.menu li:hover a.green {
    background:#080;
}
ul.menu li a.blue:hover,ul.menu li:hover a.blue {
    background:#00c;
}
ul.menu li a.violet:hover,ul.menu li:hover a.violet {
background:#8a2be2;
}
.menu li:hover div.subs,.menu li a:hover div.subs {
    width:100%;
}